@keyframes scalebig { 
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.benefit_section{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    padding: 50px 0px;

    .benefit_major_content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media(min-width: 1024px){
        justify-content: space-evenly;
      }

      > small{
        text-align: start;
        width: 100%;
        font-size: 1.4rem;
        color: var(--green);
        text-transform: uppercase;
        font-style: italic;
        @media(min-width: 1024px){
          font-size: 1.5rem;
        } 
      }

      > h3{
        color: var(--black);
        text-align: start;
        font-size: 2.2rem;
        line-height: 2.5rem;
        margin-bottom: 2rem;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        @media(min-width: 1024px){
          font-size: 3rem;
          line-height: 3.5rem;
          margin-bottom: 3.5rem;
        }
      }

      .benefit_cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;

        ul{
          list-style: none;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          li{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            margin-bottom: 2rem;
            &:last-child{
              margin-bottom: 0;
            }
            &:first-child{
              margin-top: 0;
            }
            svg{
              font-size: 2rem;
              margin-right: 0.5rem;
              width: 10%;
              color: var(--green);
              @media(min-width: 1024px){
                font-size: 3.5rem;
                width: auto;
              }
            }
            
            span{
              font-size: 1.3rem;
              font-weight: 600;
              width: 85%;
              color: var(--green);
              @media(min-width: 1024px){
                font-size: 1.6rem;
              }

            }
          }
        }
      }

      > a{
        display: inline-flex;
        justify-content: center;
        align-items: center;

        padding: 1.4rem;
        background-color: var(--green);
        border-radius: 1.5rem;
        margin-top: 2rem;
        border: 1px solid var(--white);

        text-align: center;
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;

        animation: scalebig 3s infinite;

        transition: ease-in 200ms;
        &:hover{
          background-color: transparent;
          border: 1px solid var(--green);
          color: var(--green);
        }
      }
    }
  }