.whatsapplink{
    position: fixed;
    bottom: 15px;
    right: 15px;
    @media(min-width: 1024px){
      bottom: 30px;
      right: 30px;
    }
    a{
      padding: 10px;
      background: var(--whatsapp);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 5rem;
      svg{
        color: var(--white);
        font-size: 2rem;
        position: relative;
        z-index: 2;
      }
    }
  }